<?xml version="1.0" encoding="utf-8" ?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:property-placeholder location="classpath:log4j.properties"/>

    <bean id="THAT_DRAN_GRAY_CAT" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.THAT_DRAN_GRAY_CAT.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.THAT_DRAN_GRAY_CAT.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.THAT_DRAN_GRAY_CAT.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.THAT_DRAN_GRAY_CAT.didwin}"/>
    </bean>
    <bean id="FORT_UTOPIA" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.FORT_UTOPIA.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.FORT_UTOPIA.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.FORT_UTOPIA.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.FORT_UTOPIA.didwin}"/>
    </bean>
    <bean id="COUNT_SHEEP" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.COUNT_SHEEP.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.COUNT_SHEEP.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.COUNT_SHEEP.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.COUNT_SHEEP.didwin}"/>
    </bean>
    <bean id="MS_TRAITOUR" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.MS_TRAITOUR.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.MS_TRAITOUR.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.MS_TRAITOUR.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.MS_TRAITOUR.didwin}"/>
    </bean>
    <bean id="REAL_PRINCESS" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.REAL_PRINCESS.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.REAL_PRINCESS.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.REAL_PRINCESS.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.REAL_PRINCESS.didwin}"/>
    </bean>
    <bean id="PA_KETTLE" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.PA_KETTLE.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.PA_KETTLE.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.PA_KETTLE.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.PA_KETTLE.didwin}"/>
    </bean>
    <bean id="GIN_STRINGER" class="com.CamelRaceTrack.Models.Camel">
        <constructor-arg name="number" value="${com.CamelRaceTrack.Models.Camel.GIN_STRINGER.number}"/>
        <constructor-arg name="name" value="${com.CamelRaceTrack.Models.Camel.GIN_STRINGER.name}"/>
        <constructor-arg name="odds" value="${com.CamelRaceTrack.Models.Camel.GIN_STRINGER.odds}"/>
        <constructor-arg name="didwin" value="${com.CamelRaceTrack.Models.Camel.GIN_STRINGER.didwin}"/>
    </bean>

    <bean id="racecamels" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="THAT_DRAN_GRAY_CAT"/>
                <ref bean="FORT_UTOPIA"/>
                <ref bean="COUNT_SHEEP"/>
                <ref bean="MS_TRAITOUR"/>
                <ref bean="REAL_PRINCESS"/>
                <ref bean="PA_KETTLE"/>
                <ref bean="GIN_STRINGER"/>
            </list>
        </constructor-arg>
    </bean>

    <util:map id="inventory" map-class="java.util.LinkedHashMap">
        <entry key="${java.util.LinkedHashMap.inventory.key1}" value="${java.util.LinkedHashMap.inventory.value}" value-type="java.lang.Integer"/>
        <entry key="${java.util.LinkedHashMap.inventory.key2}" value="${java.util.LinkedHashMap.inventory.value}" value-type="java.lang.Integer"/>
        <entry key="${java.util.LinkedHashMap.inventory.key3}" value="${java.util.LinkedHashMap.inventory.value}" value-type="java.lang.Integer"/>
        <entry key="${java.util.LinkedHashMap.inventory.key4}" value="${java.util.LinkedHashMap.inventory.value}" value-type="java.lang.Integer"/>
        <entry key="${java.util.LinkedHashMap.inventory.key5}" value="${java.util.LinkedHashMap.inventory.value}" value-type="java.lang.Integer"/>
    </util:map>

    <bean id="controller" class="com.CamelRaceTrack.Controller.Controller" autowire="byName">
    </bean>

</beans>